/*################ GENERAL ################*/
body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

a {
    color: #ff5149;
}

::selection {
    /*background: #ff5149;*/
}

/*################ HEADER ################*/

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    #nav {
        float: right;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    #nav {
        float: right;
    }
}

.new-header {
    color: #ffffff;
    background: url('../img/header-path.png') repeat-x left bottom #00bebe;
    padding: 25px 0;
}

.logo {
    float: left;
    font-size: 25px;
    font-weight: bold;
}

.new-header .navigation {
    float: right;
}

#nav {
    list-style: none;
    padding: 0;
    margin: 0;
    vertical-align: middle;
}

#nav li {
    display: inline-block;
    /*
        background: #ff5149;
        border-radius: 5px;
        box-shadow: 0 2px 0 0 #ff5249;
    */
}

#nav li a {
    display: block;
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
    padding: 5px;
}

#nav > li:last-child {
    margin-right: 0;
}

#nav > li:hover {
    background: #2ba39f;
    border-radius: 5px;
    box-shadow: 0 2px 0 0 #1a8c87;
}

#nav > li:hover ul,
#nav > li:active ul {
    display: block;
}

#nav li:active {
    background: #8ed2cd; /*wrong color*/
}

ul > li > a > i {
    padding-right: 3px;
}

#nav > li > ul {
    display: none;
    position: absolute;
    margin-top: 10px;
    padding: 0;
    background: #ff5249;
    border-radius: 5px;
}

#nav > li > ul:before {
    content: "";
    position: absolute;
    top: -6px;
    left: 15px;
    width: 0;
    height: 0;
    border-bottom: 6px solid #ff5249;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
}

#nav > li > ul > li {
    display: block;
    background: #ff655c;
    border-radius: 3px;
    margin: 5px;
}

#nav li ul li:hover {
    background: #00bebe;
}

#nav > li > ul > li > a {
    text-transform: none;
}

#nav > li > ul > li > a > i {
    padding: 0 10px;
}



/*################ CONTENT ################*/
.new-home {
    background: #7a8d8d;
}

.new-home > .row {
    position: relative;
}

.new-home .fa {
    color: #ffffff;
    padding: 20px 15px;
    border-radius: 0 5px 5px 0;
    background: #ff6459;
    box-shadow: 0 3px 0 0 #ff5249;
    position: absolute;
    top: 50%;
    margin-top: -25px;
}

.new-home .fa-angle-double-left {
    left: 0;
}

.new-home .fa-angle-double-right {
    border-radius: 5px 0 0 5px;
    right: 0;
}

.new-home .slider {
    text-align: center;
    padding: 160px 0 200px 0;
    color: #ffffff;
}

.new-home .slider div:first-child {
    display: inline-block;
    font-size: 50px;
    font-weight: bold;
    padding: 5px 10px;
    background: #ff5249;
    border-radius: 5px;
}

.new-home .slider div:last-child {
    display: inline-block;
    /*width: 390px;*/
    font-size: 16px;
    padding: 15px 30px; /*15px 40px*/
    background: #394444;
    border-radius: 5px;
    margin-top: 10px;
}

.slider-place {
    padding: 10px 0;
    text-align: center;
    background: #f3f3f3;
}

.slider-place > div {
    display: inline-block;
    width: 60px;
    height: 5px;
    margin-right: 10px;
    background: #aeb9bb;
}

.slider-place > div:nth-child(2) {
    background: #ff5249;
}

.slider-place > div:last-child {
    margin-right: 0;
}



/*------------------------INTRO------------------------*/
.new-intro {
    background: #f3f3f3;
}

.new-intro > .container > .row {
    background: #ededed;
    border-radius: 5px;
    padding: 25px;
}

.new-intro > .container > .row > div {
    padding: 0;
}

.intro-text > span:first-child {
    display: block;
    font-size: 30px;
    font-weight: bold;
    color: #7f8c8c;
}

.intro-text > span:last-child {
    display: block;
    font-size: 13px;
    color: #777777;
}

.intro-button > div {
    display: table; /*give responsibility for mobile, but get float right for desktop*/
    font-size: 20px;
    text-align: center;
    padding: 12px 45px;
    /*button style*/
    color: #ffffff;
    background: #00bebe;
    border-radius: 5px;
    box-shadow: 0 4px 0 0 #00bab1;
    cursor: pointer;
    margin: 0 auto;
}

.intro-button > div:hover {
    background: #ff6459;
    border-radius: 5px;
    box-shadow: 0 4px 0 0 #ff5249;
}



/*--------------------INFO ------------------------------------*/
.new-info {
    background: #f3f3f3;
    padding: 50px 0;
}

.new-info > .container {
    padding: 0;
}

.new-info-box {
    position: relative;
    color: #777777;
    height: 310px;
    margin: 0 auto 80px auto;
    text-align: center;
    padding: 50px 20px;
    border-radius: 5px;
    background: #f8f8f8;
    box-shadow: 0 4px 0 0 #e5e6e6;
}

@media (max-width: 991px) {
    .new-info-box {
        width: 270px;
    }
}

.new-info-box:hover {
    background: #ffffff;
}

.new-info-box:hover div.new-content > i.fa {
    color: #ff5249;
}

.new-info-box:hover .new-info-box-btn {
    background: #ff5149;
    border-radius: 5px;
    box-shadow: 0 4px 0 0 #ff5249;
}

.new-content > span {
    color: #7f8c8c;
    font-size: 16px;
    font-weight: bold;
}

.new-content > i {
    color: #62bdbd;
    margin-bottom: 15px;
}

.new-content p {
    font-size: 13px;
}

.new-info-box-btn {
    font-size: 14px;
    position: absolute;
    bottom: -25px;
    left: 50%;
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin-left: -100px;
    /*button style*/
    color: #ffffff;
    background: #00bebe;
    border-radius: 5px;
    box-shadow: 0 4px 0 0 #00bab1;
    cursor: pointer;
}
/*---------------------------------------section WHY */

.why-content {
    background: #ececec;
    background-image: url('../img/third_path_content.png'), -webkit-linear-gradient(top, #ececec 400px, #f3f3f3 400px); /* Chrome 10+, Saf5.1+ */
    background-image: url('../img/third_path_content.png'), -moz-linear-gradient(top, #ececec 400px, #f3f3f3 400px); /* FF3.6+ */
    background-image: url('../img/third_path_content.png'), -o-linear-gradient(top, #ececec 400px, #f3f3f3 400px); /* Opera 11.10+ */
    background-image: url('../img/third_path_content.png'), linear-gradient(to bottom, #ececec 400px, #f3f3f3 400px); /* W3C */
    background-position: top;
    background-repeat: repeat-x;
    padding-bottom: 20px;
}

.why-content > .container {
    text-align: center;
    font-size: 13px;
    padding: 75px 0 0 0;
}

.why-txt {
    margin-bottom: 50px;
}

.why-txt-slogan {
    color: #ff5149;
    font-size: 40px;
    font-weight: bold;

}
.whyL {
    z-index: 10;
}
.whyR {
    z-index: 10;
}
.whyC {
    z-index: 20;
}
.whyL,
.whyR,
.whyC {
    text-align: justify;
}

.whyL > img,
.whyR > img,
.whyC > img {
    height: auto;
    width: 100%;
    padding: 20px 0;
}



/*left and right table block*/
.why-block-table {
    display: table;
    margin: 0 auto;
}
.whyL-row-header,
.whyR-row-header {
    text-align: center;
}
/*--------------------whyL*/
.whyL-row-header {
    color: #7f8c8c;
    font-size: 16px;
    font-weight: bold;
}

.whyL-row-content ul {
    list-style: none;
    padding: 0;
    margin-top: 25px; /*35*/
}

.whyL-row-content ul li {
    color: #7f8c8c;
    font-size: 13px;
}

.whyL-row-content .fa {
    color: #ff5149;
    padding-right: 10px;
}

/*----------------------whyR */


.whyR-row-header,
.whyR-row-author {
    color: #7f8c8c;
    font-size: 16px;
    font-weight: bold;
}

.whyR-row-author {
    text-align: right;
}

.whyR-row-author span {
    padding-right: 10%;
}

.whyR-row-content > div {
    /*margin-top: 25px;*/
    margin: 25px auto 10px auto;
    width: 100%;
    padding: 10px;
    background: #f8f8f8;
    border-radius: 5px;
    color: #7f8c8c;
    font-size: 13px;
    font-style: italic;
    line-height: 1.8;
    position: relative;
    text-align: justify;
}

.whyR-row-content > div:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: -23px;
    left: 20px;
    border-top: 23px solid #f8f8f8;
    border-left: 23px solid transparent;
}

/*----------------------whyC*/

.whyC-boxes {
    padding: 40px 15px 20px 15px;
}
.whyC-boxes > div {
    padding: 20px 0;
}
.whyC-box {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: #7a8d8d;
}

.whyC-box-imgs {
    height: 60px;
    width: 120px;
    font-size: 30px;
    text-align: center;
    padding-top: 25px;
    margin: 0 auto;
    background-image: url('../img/third_load.png');
    background-repeat: no-repeat;
    background-position: 0 0;
}

.whyC-box-img-2 {
    background-position: -122px 0;
}

.whyC-box-img-3 {
    background-position: -244px 0;
}

.whyC-box-img-4 {
    background-position: -366px 0;
}

/* Small devices (tablets, 768px and up) */
@media (max-width: 767px) {
    .whyL > img,
    .whyR > img,
    .whyC > img {
        display: block;
        width: 60%;
        margin: 0 auto;
    }
    .whyC > img {
        width: 90%;
    }
    .whyR-row-content > div {
        width: 50%;
    }
    .whyR-row-author span {
        padding-right: 30%;
    }
}
@media (min-width: 992px) {
    .whyL > img,
    .whyR > img,
    .whyC > img {
        height: auto;
        width: 120%;

    }
    .whyC > img {
        margin-left: -10%;
    }
    .whyR > img {
        margin-left: -20%;
    }
    .whyL > img,
    .whyR > img {
        margin-top: 120px;
    }
}

@media (min-width: 1200px) {
    .whyR > img {
        margin-left: -100px;
    }

    .whyL > img,
    .whyR > img {
        margin-top: 65px;
        margin-bottom: 80px;
        height: auto;
        width: auto;
    }

    .whyC > img {
        margin-bottom: 40px;
        height: auto;
        width: auto;
        margin-left: 0;
    }
    .whyL-row-header,
    .whyR-row-header {
        text-align: left;
    }
}
/*---------------------------------------new Happy clients (slider) */
.new-hc {
    background: #f3f3f3;
}
.new-hc-name {
    /*background: rgba(100,0,0,0.6);*/
    color: #7f8c8c;
    font-weight: bold;
    padding: 9px 0;
}

.new-hc-line {
    /*background: rgba(100,190,0,0.6);*/
    display: table-cell;
    vertical-align: middle;
    position: relative;
}
.new-hc-line div {
    height: 1px;
    margin: 18px 0;
    background: #e1e3e3;
    position: relative;
}
.new-hc-line i {
    position: absolute;
    left: 0;
    top: -3px;
    height: 7px;
    width: 7px;
    border-radius: 7px;
    background: #e1e3e3;

}

.new-hc-btns {
    /*background: rgba(100,0,100,0.6);*/
    text-align: right;
}

.new-hc-btns .fa{
    padding: 5px 15px;
    color: #ffffff;
    border-radius: 5px;
    background: #98a3a3;
    box-shadow: 0 2px 0 0 #7f8c8c;
 }

.new-hc-btns .fa:hover{
    background: #ff5249;
    box-shadow: 0 2px 0 0 #ff5249;
}

.new-hc-btns .fa-angle-left {
    margin-right: 20px;
}

.client {
    content: "";
    height: 50px;
    background: red;
    border: 1px solid black;
    border-radius: 5px;
    float: left;
}


.carousel {
    /*background: yellowgreen;*/
    padding: 10px 0;
    width: 9999px;
}

.carousel-wrapper {
    overflow: hidden;
    margin: 10px auto;
}

.carousel ul {
    padding: 0;
}

.carousel li {
    list-style: none;
    display: inline-block;
    padding: 0;
    margin: 0 10px;
}

.carousel li:last-child {
    margin-right: 0;
}

.carousel a {
    display: block;
    width: 170px;
    height: 90px;
    background: url("../img/third_sprite.png") 30px -40px no-repeat #f8f8f8;
    border-radius: 5px;
}

/*-------------------------------------new FOOTER*/

.tf-footer {
    font-size: 13px;
    background: url("../img/third_bgPath_footer.png") repeat-x left top #2dc8c1;
    color: #ffffff;
}
.pill-1,
.pill-2,
.pill-3,
.pill-4{
    text-align: justify;
    padding: 45px 0;
}

.pill-1 span {
    font-size: 25px;
    font-weight: bold;
}

.pill-1 table tr td:nth-child(even) {
    padding-left: 10px;
    font-style: italic;
    font-weight: bold;
}
.pill-2 > div,
.pill-2 > div {
    display: table;
    margin: 0 auto;
}
.pill-2 span,
.pill-3 span {
    font-weight: bold;
    font-size: 20px;
    color: #4b7e79;
}

.pill-2 ul,
.pill-3 ul {
    list-style: none;
    padding: 15px 0 0 25px;
    margin: 0;
}

.pill-2 ul li i,
.pill-3 ul li i {
    padding-right: 10px;
}



.pill-4 > span {
    font-size: 20px;
    font-style: italic;
    margin-left: 20px;

}

.pill-4 > span > span {
    font-style: normal;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
}


.tf-table {
    margin: 0 auto;
    display: table;
}

.tf-table-row > div {
    display: table-cell;
    text-align: left;
    padding: 10px;
    vertical-align: top;
}

.tf-table-row .fa {
    background: #1a7f7a;
    border-radius: 5px;
    opacity: 0.75;
    padding: 25px;
}

.tf-date {
    padding-top: 10px;
    color:#1a7f7a;
}
/*------------------bottom footer*/
.bf-footer {
    background: #27b4ad;
    color: #ffffff;
    padding: 15px 10px;
    font-size: 12px;
}

.bf-follow {
    list-style: none;
    padding: 0;
    margin: 0;
}

.bf-follow li {
    padding: 0;
    margin: 0 0 0 20px;
    display: inline-block;
}

.bf-follow li a {
    display: block;
    height: 22px;
    width: 22px;
    background: url("../img/third_sprite.png") no-repeat;
}

.bf-follow li:nth-child(2) a {
    background-position: -22px 0;
}

.bf-follow li:nth-child(3) a {
    background-position: -44px 0;
}

.bf-follow li:nth-child(4) a {
    background-position: -66px 0;
}
.bf-table {
    display: table;
    width: 100%;
}
.bf-logo {
    display: table-cell;
    text-align: left;
}
.bf-follow {
    display: table-cell;
    text-align: right;
}

